<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>

    <body>
        <% include ./partials/nav %>
            <div class="jumbotron">
                <div class="container">
                    <h1>ESD Quickbooks Sample App</h1>
                    <p>This sample app is a starting point for your ESD QuickBooks Online integrations.</p>
                    <p>Choose an operation below to continue</p>
                </div>
            </div>
            <div class="container">
                <table class="table table-striped">
				 <tr>
                        <td>
                            This operation will list all the accounts
                        </td>
                        <td>
                            <form method="GET" action="/listAccountsForm">
                                <button class="btn btn-md btn-link pull-right" type="submit" value="List accounts">List Accounts</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            This operation will run tests
                        </td>
                        <td>
                            <form method="GET" action="/testing">
                                <button class="btn btn-md btn-link pull-right" type="submit" value="Testing">Testing</button>
                            </form>
                        </td>
                    </tr>
    
              
              
                </table>
            </div>